//minireset.css
//Restablece los margenes de todos los elementos html

//Bloques
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

//Encabezados
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

//Listas
ul {
  list-style: none;
}

//Formas
button,
input,
select,
textarea {
  margin: 0;
}

//Tamaño del panel
html {
  box-sizing: border-box;
}

//General
* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

//Multimedia
img,
video {
  height: auto;
  max-width: 100%;
}

//Iframes
iframe {
  border: 0;
}

//Tablas
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;

  &:not([align]) {
    text-align: inherit;
  }
}
